/* Reset some default styles for better consistency */


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Urbanist:ital,wght@1,500&display=swap');

*{
    text-decoration: none;
}

body,
ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    
    
}

body {
    font-family:  sans-serif;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Navigation Bar Styles */
/* nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    padding: 15px;
    height: 80px;
    width: 100%;
    
} */

/* .name{
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    
} */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    
}
.navbar-brand{
    height: 90px;
    width: 80px;
    display: flex;
}
.logo img{
    height: 100px;
    width: 100px;
}
.menu {
    padding-top: 30px;
    list-style: none;
    display: flex;
    padding-right: 30px;
}

.menu li {
    margin: 0 15px;
    list-style: none;
    
}

.dropdown-menu ul li{
    display: none;
    position:fixed;
    flex-direction: column;
}


#carouselExampleCaptions{
    /* padding-top: 100px; */
    padding-left: 30px;
    padding-right: 30px;
}


/* Submenu Styles */
.submenu ul {
    display: none;
    position: absolute;
    background-color: #f4e7ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

.submenu:hover ul {
    display: flex;
    flex-direction: column;
    
}

.submenu ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
    
    /* background-color: rgb(214, 243, 243); */
    

}
.bars{
    font-size: 35px;
    float: right;
    color: rgb(231, 138, 200);
    padding: 10px;
    cursor: pointer;
    display: none;
}

/* Content Section Styles */
/* .content {
    padding: 20px;
} */


.dropdown-menu a:hover{
    background-color: #4a8ffd;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 15px;
    }

    .menu li {
        margin: 5px 0;
    }
}


/* @media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
} */

/* .timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
} */






.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-220px;
    top:230px;
    width:270px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#ffffff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-15px;
    background-color: #dfe6ea;
    background-image: linear-gradient(315deg, #eec0c6 0%, #bbe9f3 94%);

}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}